:root {
  --threadBlue: #0721c8;
  --futurRed: #da1334;
  --saturatedGreen: #e5f77d;

  --borderColor: #19190f;

  --light: white;
  --dark: #040404;
  --white: white;
  --black: black;
  --antiquewhite: antiquewhite;

  //? -- sizes --
  --nav-height: 0em; // 5.21em;
  --container-full-height: calc(100vh - var(--nav-height));
  --container-padding: 1em;

  --borderSize: 1px;

  //? -- card properties --
  --card-height: 15.63em;
  --card-width: 26.04em;

  //? -- spacings --
  --spacing-10: 0.52em;
  --spacing-30: 1.56em;
  --spacing-50: 2.6em;
  --spacing-75: 3.91em;
  --spacing-100: 5.21em;
  --spacing-200: 10.42em;

  //? -- Font Sizes --
  --body-font-size: 0.94em; // 1.46em;
  --font-size-14: 0.73em;

  //? -- others --
  --rounded-border-radius: 100vh;

  //? -- Animation --
  --transitionDuration: 150ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-weight: normal;
}

html,
body {
  font-family: "Uncut Sans Variable", Switzer-Variable, sans-serif;
  font-size: 1vw;

  color: var(--white);
  background-color: var(--dark);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Uncut Sans Variable", Switzer-Variable, sans-serif;

    font-style: normal;
    font-weight: normal;
  }

  h1 {
    // font-size: calc(var(--body-font-size) * 3);
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: "BL Melody";
  }
  h2 {
    // font-size: calc(var(--body-font-size) * 2);
    font-size: 1.93em;
    text-transform: uppercase;
    font-family: "BL Melody";
  }
  h3 {
    // font-size: calc(var(--body-font-size) * 1.5);
    font-size: 1.56em;
    text-transform: uppercase;
    font-family: "BL Melody";
  }
  h4 {
    // font-size: calc(var(--body-font-size) * 1.3);
    font-size: 1.09em;
  }
  h5,
  .heading-style-h5 {
    font-size: calc(var(--body-font-size) * 1.2);
  }
  h6 {
    font-size: calc(var(--body-font-size) * 1.1);
  }
  p {
    font-size: var(--body-font-size);
    // font-family: "Atkinson Hyperlegible";
    // font-family: "IBM Plex Sans";

    font-style: normal;
    font-weight: normal;
    max-width: 45ch;
  }

  .display_heading {
  }
  .display_paragraph {
    // font-size: 1.09em;
    font-size: 1.25em;
  }

  .heading-style-h1 {
    // font-size: calc(var(--body-font-size) * 3);
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: "BL Melody";
  }
  .heading-style-h2 {
    font-size: 1.93em;
    text-transform: uppercase;
    font-family: "BL Melody";
  }
  .heading-style-h3 {
    font-size: 1.56em;
    text-transform: uppercase;
    font-family: "BL Melody";
  }
  .heading-style-h4 {
    font-size: 1.09em;
  }
  .heading-style-h5 {
    font-size: calc(var(--body-font-size) * 1.2);
  }
  .heading-style-h6 {
    font-size: calc(var(--body-font-size) * 1.1);
  }

  .display-block {
    display: block;
  }
  .text-weight-bold {
    font-weight: bold;
  }

  .text-size-small {
    font-size: var(--font-size-14);
    letter-spacing: 0.05ch;
  }

  .text-style-uppercase {
    text-transform: uppercase;
  }
  .text-style-lowercase {
    text-transform: lowercase;
  }

  .opacity-80 {
    opacity: 80%;
  }
  .opacity-60 {
    opacity: 60%;
  }

  a {
    padding: 0 0 0.25em 0;

    color: inherit;
    font-size: inherit;
    border-bottom: var(--borderSize) dotted var(--white);
    text-transform: uppercase;
  }

  a:hover {
  }

  button:focus,
  a:focus {
    outline: 1px dotted var(--futurRed);
    background-color: inherit;
  }

  button {
    border: none;
    outline: none;
    background: none;
    padding: 0;

    width: fit-content;
    padding: 0.8em 2em;

    font-family: inherit;
    font-size: var(--font-size-14);
    text-transform: uppercase;
    letter-spacing: 0.05ch;

    color: inherit;
    border: var(--borderSize) solid var(--white);
    border-radius: var(--rounded-border-radius);

    cursor: pointer;
    transition: all var(--transitionDuration);
  }

  button:hover,
  button:active {
    color: var(--dark);
    background-color: var(--futurRed);
    border-color: var(--futurRed);
  }
}

.container {
  max-width: 1920px;
  margin: auto;
}

nav {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;

  padding: 0 var(--container-padding);

  .container {
    height: var(--nav-height);
    width: 100%;

    display: flex;
    align-items: center;

    .nav_logo {
      width: 100%;
      img {
        width: 12em;
      }
    }
  }
}

main {
  margin-bottom: 100vh; // to reveal the footer

  section {
    padding-inline: var(--spacing-75);

    .container {
      padding: var(--spacing-100) 0;
    }
  }
  .is-hero .container {
    min-height: 100vh;
    margin-bottom: 50vh;
  }
}

footer {
  padding-inline: var(--spacing-75);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;

  color: var(--dark);
  background-color: var(--white);

  .container {
    height: 100vh;
    padding: var(--spacing-100) 0;
    overflow: hidden;
    align-content: space-between;

    a {
      border-color: var(--dark);
    }

    .footer_cta {
      height: var(--card-height);

      .cta {
        grid-column: span 2;
        height: 100%;
        width: 100%;
        background-color: var(--dark);
      }
    }

    .footer_content {
      .footer_content-left {
        grid-column: span 2;

        h4 {
          margin-bottom: var(--spacing-30);
        }
        p {
          &:nth-of-type(1) {
            margin-bottom: var(--spacing-200);
          }
        }
      }

      .footer_content-right {
        height: 100%;
        grid-column: 4 / -1;
        border-left: var(--borderSize) dotted var(--borderColor);
      }
    }
  }
}

.display_grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

//? custom viewport for responsivness ---------

@media only screen and (min-width: 1920px) {
  html,
  body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 11px;
  }
}

@media only screen and (max-width: 568px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (max-width: 420px) {
  html,
  body {
    font-size: 7px;
  }
}
@media only screen and (max-width: 280px) {
  html,
  body {
    font-size: 6px;
  }
}

::selection {
  color: var(--dark);
  background-color: var(--futurRed);
}
